

ion-input, ion-label,ion-toggle {
    float:left;
}
p {
    color: #f53d3d;

    
    
}

.icons {
    background-color: #fff;
    border: 1px solid #7E103E;
    color:black;
    margin: 0;
    font-size: 0.9em;
}
 